@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FAF6DB;
	background-image: url(images/bodyBg.html);
	background-repeat: repeat-x;
}
.phone {
	font-size: 26px;
	color: #333333;
	text-align: right;
	padding-right: 10px;
}
.white-head {
	font-size: 26px;
	color: #FFFFFF;
	padding-left: 10px;
}
.menu {
	font-size: 12px;
	color: #f8d85e;
	font-weight: bold;
	background-image: url(../images/arrow.jpg);
	background-repeat: no-repeat;
	line-height: 26px;
	background-position: bottom;
	padding-left: 20px;
	text-align: left;
	text-indent: 20px;
}
.greed-head {
	font-size: 26px;
	color: #7a5f0a;
	background-image: url(../images/cen-bg.jpg);
	background-repeat: repeat-x;
	padding-top: 10px;
	padding-left: 10px;
}
.greed-medium {
	font-size: 18px;
	color: #7a5f0a;
	background-repeat: repeat-x;
	padding-top: 10px;
}
.greentest {
	font-size: 14px;
	color: #7A5F0A;
}

.read {
	background-image: url(../images/directions.jpg);
	background-repeat: no-repeat;
	height: 23px;
	width: 82px;
	background-color: #1D1D1D;
	text-align: center;

	
}
.text {
	font-size: 12px;
	color: #3b3a2b;
}

.linkbrown {
	height: 23px;
	width: 82px;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	line-height: 23px;
	font-weight: bold;
}
.linkbrown:hover {
	height: 23px;
	width: 82px;
	font-size: 10px;
	color: #7A5F0A;
	text-decoration: none;
	text-align: center;
	line-height: 23px;
	font-weight: bold;
}
.brown-head {
	font-size: 34px;
	color: #cb3e07;
	padding-left: 10px;
}
.blck-head {
	font-size: 34px;
	color: #1d1d1d;
	padding-left: 10px;
}
.readmore {
	background-image: url(../images/readmore.jpg);
	background-repeat: no-repeat;
	height: 23px;
	width: 62px;
	background-color: #1D1D1D;
	text-align: center;
}
.linkbrownCopy {
	height: 23px;
	width: 82px;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	line-height: 23px;
	font-weight: bold;
}
.linkbrownCopy:hover {
	height: 23px;
	width: 82px;
	font-size: 10px;
	color: #7C2605;
	text-decoration: none;
	text-align: center;
	line-height: 23px;
	font-weight: bold;
}
.black-medium {
	font-size: 18px;
	color: #212121;
	background-repeat: repeat-x;
	padding-top: 10px;
}
.white-text-foot {
	font-size: 11px;
	color: #FFFFFF;
}
.menulink {
	font-size: 12px;
	color: #f8d85e;
	font-weight: bold;
	line-height: 26px;
	background-position: bottom;
	text-decoration: none;
}
.menulink:hover {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 26px;
	background-position: bottom;
}
.but {
	font-size: 10px;
	color: #FFFFFF;
	background-color: #CD4008;
	background-image: url(../images/readmore.jpg);
	height: 23px;
	width: 62px;
	text-decoration: none;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.greentest-bg {
	font-size: 14px;
	color: #7A5F0A;
	background-color: #FFFF66;
}
